body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.hello {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 25px;
    border-bottom: 1px solid #8080805e;
}

a {
    text-decoration: none;
}

.logo {
    width: 180px;
    height: 37px;
    font-family: Arial;
    font-weight: bold;
    background-color: #1b1b1b;
    display: flex;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.front-logo {
    color: white;
    flex: 1;
    font-size: 30px;
}

.back-logo {
    background-color: #ffa31a;
    flex: 1;
    font-size: 30px;
    border-radius: 4px;
    margin: 1px;
    color: black;
}

.infotext {
    margin-top: 10px;
    color: wheat;
    text-align: center;
}


#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1000;
}

#closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navbarButton {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    padding: 2px 6px;
}

.infobtn {
    color: #ffa31a;
}

#navbar li {
    margin-bottom: 20px;
    width: 1000px;
}

#navbar a {
    text-decoration: none;
    color: #ffa31a;
    font-weight: bold;
}

#navbar a img {
    width: 300px;
    height: 300px;
}

.navbarList {
    text-align: center;
}

#navbarButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.code {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: #1b1b1b;
    color: white;
    width: 300px;
    overflow: auto;
    padding: 50px;
}

.codebox code {
    font-size: 0.9em;
}

.sem {
    padding: 10px;
    background-color: black;
    border-bottom: 1px solid #8080805e;
}

.sems {
    display: flex;
    color: white;
    background-color: black;
}

.semcss {
    margin: auto;
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.semcss:hover {
    color: #808080;
}

.material-container {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    overflow-x: auto;
    padding: 10px;
}

.sem1material,
.sem2material,
.sem3material,
.sem4material,
.sem5material,
.sem6material,
.sem7material,
.sem8material {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    overflow-x: auto;
    padding: 30px;
}

.sub {
    width: 100%;
    border: 0px solid blue;
    max-width: 300px;
    height: 200px;
    margin-bottom: 10px;
    background-color: #1b1b1b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    cursor: pointer;
    color: white;
    font-family: Arial;
    transition: 0.3s;
    position: relative;
}

.sub:hover {
    color: white;
    border-radius: 0;
    background-color: #1b1b1b;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.156);
}

.sub:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px blue;


}

.sub:hover:before {
    animation: border_animation 3s forwards;
}


.subcss {
    margin: auto;
}

.subdetails {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin-bottom: 10px;
}


.scode {
    padding: 10px;
}

.sname {
    padding: 10px;
}

.sebjectmaterial {
    color: white;
}

.submat {
    display: none;
    color: white;
}

.assignment,
.practical {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    overflow-x: auto;
    padding: 10px;
}

.assbtn {
    width: 250px;
    height: 44px;
    font-family: Arial;
    font-weight: bold;
    background-color: black;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    padding: 15px;
    text-decoration: none;
}

.front-t {
    color: white;
    flex: 1;
    font-size: 30px;
    padding-top: 5px;
}

.back-t {
    background-color: #ffa31a;
    flex: 1;
    color: black;
    height: 40px;
    border-radius: 4px;
    font-size: 30px;
    padding-top: 5px;
    margin-left: 10px;
}

.backbtn {
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: #ffa31a;
    border: none;
}

.backbtn {
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: #ffa31a;
    border: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 24
}

.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    border-radius: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
}

@keyframes border_animation {

    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}

.side-notice-popup {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-305%);
    background-color: #1b1b1b;
    padding: 5px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    display: none;
    color: wheat;
    border-radius: 3px;
    box-shadow: 0 0 5px #4a4949;
}

.side-notice-popup.show {
    display: block;
}

.side-notice-popup p {
    margin-top: 1px;
}

.content {
    text-align: center;
}

.popupclosebtn {
    margin-bottom: 10px;
    background-color: #1b1b1b;
    color: wheat;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.alert-gif {
    width: 30px;
    height: 30px;
}


@media screen and (max-width: 600px) {

    #navbar li {
        width: 300px;
    }

    .sub {
        max-width: none;
    }

    .semcss {
        max-width: none;
        margin-bottom: 10px;
    }

    .sems {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .sems {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 10px;
        overflow-x: auto;
    }

    .subdetails {
        margin: auto;
    }

    .side-notice-popup {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-200%);
        height: 100px;
    }

    .side-notice-popup p {
        margin: 0;
    }

    .popupclosebtn {
        margin-top: 15px;
    }

    .codecontainer {
        width: 100% !important;
    }

    .codecontent {
        margin: 6px !important;
    }
}

@media screen and (max-width: 1000px) {
    .codecontainer {
        width: 100% !important;
    }
}

@media screen and (min-width: 1000px) {
    .codecontainer {
        width: 100% !important;
    }
}

.codecontainer {
    width: 1516px;
    color: white;
}

.codecontent {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.prtitle {
    padding: 10px;
    border-radius: 3px;
    background-color: #1b1b1b;
}

.filetitle {
    background-color: #1b1b1b;
    margin: 10px;
    padding: 10px;
}

.precode {
    overflow: auto;
    background-color: #1b1b1b;
}

.language-java,
.language-html,
.language-css {
    border: none !important;
    background-color: #1b1b1b;
}





/* code[class*=language-],pre[class*=language-]{color:#fff;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;text-shadow:0 -.1em .2em #000;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}:not(pre)>code[class*=language-],pre[class*=language-]{background:#141414}pre[class*=language-]{border-radius:.5em;border:.3em solid #545454;box-shadow:1px 1px .5em #000 inset;margin:.5em 0;overflow:auto;padding:1em}pre[class*=language-]::-moz-selection{background:#27292a}pre[class*=language-]::selection{background:#27292a}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:hsla(0,0%,93%,.15)}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:hsla(0,0%,93%,.15)}:not(pre)>code[class*=language-]{border-radius:.3em;border:.13em solid #545454;box-shadow:1px 1px .3em -.1em #000 inset;padding:.15em .2em .05em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#777}.token.punctuation{opacity:.7}.token.namespace{opacity:.7}.token.boolean,.token.deleted,.token.number,.token.tag{color:#ce6849}.token.builtin,.token.constant,.token.keyword,.token.property,.token.selector,.token.symbol{color:#f9ed99}.language-css .token.string,.style .token.string,.token.attr-name,.token.attr-value,.token.char,.token.entity,.token.inserted,.token.operator,.token.string,.token.url,.token.variable{color:#909e6a}.token.atrule{color:#7385a5}.token.important,.token.regex{color:#e8c062}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.language-markup .token.attr-name,.language-markup .token.punctuation,.language-markup .token.tag{color:#ac885c}.token{position:relative;z-index:1}.line-highlight.line-highlight{background:hsla(0,0%,33%,.25);background:linear-gradient(to right,hsla(0,0%,33%,.1) 70%,hsla(0,0%,33%,0));border-bottom:1px dashed #545454;border-top:1px dashed #545454;margin-top:.75em;z-index:0}.line-highlight.line-highlight:before,.line-highlight.line-highlight[data-end]:after{background-color:#8693a6;color:#f4f1ef}
div.code-toolbar{position:relative}div.code-toolbar>.toolbar{position:absolute;z-index:10;top:.3em;right:.2em;transition:opacity .3s ease-in-out;opacity:0}div.code-toolbar:hover>.toolbar{opacity:1}div.code-toolbar:focus-within>.toolbar{opacity:1}div.code-toolbar>.toolbar>.toolbar-item{display:inline-block}div.code-toolbar>.toolbar>.toolbar-item>a{cursor:pointer}div.code-toolbar>.toolbar>.toolbar-item>button{background:0 0;border:0;color:inherit;font:inherit;line-height:normal;overflow:visible;padding:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}div.code-toolbar>.toolbar>.toolbar-item>a,div.code-toolbar>.toolbar>.toolbar-item>button,div.code-toolbar>.toolbar>.toolbar-item>span{color:#bbb;font-size:.8em;padding:0 .5em;background:#f5f2f0;background:rgba(224,224,224,.2);box-shadow:0 2px 0 0 rgba(0,0,0,.2);border-radius:.5em}div.code-toolbar>.toolbar>.toolbar-item>a:focus,div.code-toolbar>.toolbar>.toolbar-item>a:hover,div.code-toolbar>.toolbar>.toolbar-item>button:focus,div.code-toolbar>.toolbar>.toolbar-item>button:hover,div.code-toolbar>.toolbar>.toolbar-item>span:focus,div.code-toolbar>.toolbar>.toolbar-item>span:hover{color:inherit;text-decoration:none} */
code[class*=language-],
pre[class*=language-] {
    color: #f8f8f2;
    background: 0 0;
    text-shadow: 0 1px rgba(0, 0, 0, .3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: .91em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: .3em
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #1b1b1b
}

:not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: #8292a2
}

.token.punctuation {
    color: #f8f8f2
}

.token.namespace {
    opacity: .7
}

.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
    color: #f92672
}

.token.boolean,
.token.number {
    color: #ae81ff
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
    color: #a6e22e
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
    color: #f8f8f2
}

.token.atrule,
.token.attr-value,
.token.class-name,
.token.function {
    color: #e6db74
}

.token.keyword {
    color: #66d9ef
}

.token.important,
.token.regex {
    color: #fd971f
}

.token.bold,
.token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}